figure img{
	width: 400px;
}
section{
	overflow: hidden;
	margin:0 2em 0 2em;
}
figure img{
	float: left;
	width: 45%;
	margin:2em 3.5em 2em 0;
	border-radius: 15%;
}
section p{
	text-align: justify;
}
@media(max-width: 768px){
	.fotos img{
		width: 100%;
	}
	figure img{
	width: 200px;
	}
	header #fis img{
		margin:0.3em 0.5em 3.5em 4em;
	}

}
@media(max-width: 1024px){
	figure img{
		width: 50%;
	}
	figure img{
	width: 380px;
	}

}